* text=auto eol=lf

*.blade.php diff=html linguist-detectable=true
*.php diff=php linguist-detectable=true
*.css diff=css
*.js diff=javascript linguist-detectable=true
*.html diff=html linguist-documentation=true
*.md diff=markdown linguist-documentation=true

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

